body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.video{
    z-index: -1;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.overlay{
    display: flex;
    flex-direction: column;
    text-align: center;
    left : calc(50% - 308px);
top: 25vh;
}
.overlaymargin{
    margin: 2px;
    font-weight: normal;
}
.overlaymargin, .lead{
    font-size: 3.5rem;
}
.nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color:hsla(0, 0%, 0%, 0.3);
    width: 300px;
    height: 120px;
}
.amount-background{
    max-width: 300px;
    position: relative;
}
#amount, .amount-background{
    border: none;
}
.month{
    right: 16px;
    top:13px;
}
.month, .dollar{
    color: gray;
}
.text{
    width: 300px;
}
.dollar{
    top: 13px;
    left: 18px;
    font-size: 1.1rem;
}
#amount{
    padding: 4px;
    padding-left: 22px;
    width: 245px;
    height: 25px;   
    font-size: 1.5rem;
}
.button, #amount, .nav{
    border-radius: 5px;
}
.button{
    border: gray 1px solid;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}
.overlay, .button, .logo, .a{
    color: white;
}
.margin{
    margin-top: 12px;
}
.divbutton{
    margin-top: 8px;
}
.button--primary{
    background-color: hsl(197, 73%, 63%);

}
.logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    top: 5px;
}
.hero{
    position: relative;
    background-color:hsla(0, 0%, 0%, 0.2 );
}
#toggle{
    right: 14px;
    top: 16px;
    height: 10px;
}
.hamburger-icon{
    top: 8px;
    right: 8px;
}
.hero, .overlay{
    height: 100vh;
}
.hamburger-icon, #toggle, .logo, .dollar, .month, .overlay, .video{
    position: absolute;
}
.footer{
    display: flex;
    background-color:hsl(197,73%,63%);
    height: 80vh;
flex-direction: column;
justify-content: flex-end;
  
}
.ul{
    list-style-type: none;
    text-align: center;
    margin-bottom: 35px;
}
.li{
    margin: 20px;
}
